body {
  font-family: "Open Sans", sans-serif;
  margin-top: 25px;
  background-color: beige;
}

form {
  font-size: 16px;
  border: 1px gray solid;
  border-radius: 4px;
  max-width: 380px;
  padding: 10px;
  padding-bottom: 15px;
  margin: auto;
}

input {
  max-width: 74px;
}

section {
  position: relative;
  border: 1px gray solid;
  border-radius: 4px;
  max-width: 400px;
  padding: 10px 0;
  margin: 10px auto;
}

.wrapper {
  max-width: 291px;
  margin-left: 50px;
}

/* Stage One */
.fraction-bar-stage-one {
  border: 1px black solid;
}

.denominator-content-stage-one {
  margin: auto;
}

/* Stage Two */
.fraction-bar-stage-two {
  border: 1px black solid;
}

.denominator-content-stage-two {
  margin: auto;
}

/* Stage Three */
.fraction-bar-stage-three {
  border: 1px black solid;
}

.denominator-content-stage-three {
  margin: auto;
}

/* Final Stage*/
.final-fraction-bar-stage {
  border: 1px black solid;
}

.final-denominator-content-stage {
  margin: auto;
}

.final-answer {
  display: flex;
  align-items: center;
}

.final-wrapper {
  margin: 0 7px;
}

.push-right {
  margin-left: 30px;
}
